<div class="container">
    <form class="form-signin panel signin" {{action 'authenticate' on='submit'}}>
        {{#validation/form-group
            isValid=(v-get this 'username' 'isValid')
            message=(v-get this 'username' 'message')
        }}
            {{input value=username type="email" class="form-control" placeholder=(t 'definitions.username')  autofocus="autofocus"}}
        {{/validation/form-group}}
 
        {{#validation/form-group
            isValid=(v-get this 'password' 'isValid')
            message=(v-get this 'password' 'message')
        }}
            {{input value=password type="password" class="form-control" placeholder=(t 'definitions.password'  )}}
        {{/validation/form-group}}
    
        {{#validation/form-group
            isValid=(v-get this 'invalidCredentials' 'isValid')
            message=(v-get this 'invalidCredentials' 'message')
        }}
 
        {{/validation/form-group}}
 
        {{#link-to 'password-recover' class="pull-right password-recover-link" tabindex=20 }}
            {{t 'navigation.password_recover'}}
        {{/link-to}}  
         
        <br>
        <br>
        <button class="btn btn-md btn-primary" type="submit" disabled={{isValidating}}  >
            {{#if isValidating}} 
                {{t 'definitions.signing-in'}}
            {{else}}
                {{t 'definitions.sign-in'}}
            {{/if}}
        </button>  
    </form>
</div>

