 <div class="container">


    {{#if responseMessage}}
        <br/>
        <div class="alert alert-success">
            <h4>{{t 'messages.password-recover.change-password'}}</h4>
            <p>{{t 'messages.password-recover.update-password-email'}} {{email}}. </p>
            <p>{{t 'messages.password-recover.update-email-action'}}</p> 
        </div> 
    {{else}} 
 
     	<form class="form-signin panel signin" {{action 'send' on='submit'}}>
            {{#validation/form-group
                isValid=(v-get this 'email' 'isValid')
                message=(v-get this 'email' 'message')
            }}
                {{input value=email 
                    type="email" class="form-control" 
                    placeholder=(t 'definitions.email')   
                    autofocus="autofocus" }} 
            {{/validation/form-group}} 
            <br>
            <br> 
            <button class="btn btn-primary btn-sm"  
                disabled={{isSaving}} 
                type="submit"
                disabled={{v-get email 'isInvalid'}}
            >
                {{#if isSending}}
                    {{dwcm-spinner button=true}}
                    {{t 'definitions.sending'}}
                {{else}}
                    {{t 'definitions.send'}}
                {{/if}}
            </button>   
        </form>
    {{/if}}
</div>







 <!--





<form class="form-signin panel signin" {{action 'send' username on='submit'}}>

	{{#if responseMessage}}
        <br/>
            <div class="alert alert-success">
                <h4>{{t 'messages.password-recover.change-password'}}</h4>
                <p>{{t 'messages.password-recover.update-password-email'}} {{email}}. </p>
                <p>{{t 'messages.password-recover.update-email-action'}}</p> 
            </div> 
   	{{else}} 

 		{{#validation/form-group
            isValid=(v-get this 'email' 'isValid')
            message=(v-get this 'email' 'message')
        }}
            {{input value=username type="text" class="form-control" placeholder=(t 'definitions.username-email')  autofocus="autofocus"}}
        {{/validation/form-group}}

        <button class="btn btn-md btn-primary" type="submit" disabled={{isValidating}}  >
            {{#if isValidating}} 
                {{t 'definitions.signing-in'}}
            {{else}}
                {{t 'definitions.sign-in'}}
            {{/if}}
        </button>  
 	{{/if}}
	</form> 






 	 	<button class="btn btn-primary btn-sm"  
	 		disabled={{isSaving}}
			{{action 'send' username}}
	 		disabled={{v-get username 'isInvalid'}}
		>
			{{#if isSending}}
				{{dwcm-spinner button=true}}
				{{t 'definitions.sending'}}
			{{else}}
		  		{{t 'definitions.send'}}
			{{/if}}
		</button>  
		-->


 
 
<!--
    	{{#validation/form-group
            isValid=(v-get this 'email' 'isValid')
            message=(v-get this 'email' 'message')
        }}
 			{{input value=email type="text" class="form-control" placeholder=(t 'definitions.username-email' ) autofocus="autofocus"}} 
		{{/validation/form-group}}

		-->