 <div class="container">
 
    {{#if responseMessage}}
        <br/>
        <div class="alert alert-success">
            <h4>{{t 'messages.password-recover.password-recover'}} {{email}}. </h4> 
            <p>{{t 'messages.password-recover.update-email-action'}}</p> 
        </div> 
    {{else}} 
        <form class="form-signin panel signin" {{action 'send' on='submit'}}>
            {{#validation/form-group
                isValid=(v-get this 'email' 'isValid')
                message=(v-get this 'email' 'message')
            }}
                {{input value=email 
                    type="email" class="form-control" 
                    placeholder=(t 'definitions.email')   
                    autofocus="autofocus" }} 
            {{/validation/form-group}} 
            <br>
            <br> 
            <button class="btn btn-success btn-md"  
                disabled={{isSending}} 
                type="submit"
                disabled={{v-get email 'isInvalid'}}
            >
                {{#if isSending}}
                    {{dwum-spinner button=true}}
                    {{t 'definitions.sending'}}
                {{else}}
                    {{t 'definitions.send'}}
                {{/if}}
            </button>   
        </form>
    {{/if}}
</div>

 
  