<div class="form-signin panel signin">
 	{{input value=email type="text" class="form-control" placeholder=(t 'definitions.username-email')}}
 	<button class="btn btn-primary btn-sm"
	 		disabled={{isSaving}}
			{{action 'send' email}}
	 		disabled={{v-get model 'isInvalid'}}
	>
	{{#if isSending}}
		{{dwcm-spinner button=true}}
			{{t 'definitions.sending'}}
		{{else}}
	  		{{t 'definitions.send'}}
		{{/if}}
	</button>  
</div> 
 
