<div class="container users-view {{if validationError 'validation-visible' ''}}">  
    {{#if responseMessage}}
        <br/>
        <div class="alert alert-success">
            <h4>{{t 'messages.account.create-account'}}</h4>
            <p>{{t 'messages.account.verification-email'}} {{model.email}}. </p>
            <p>{{t 'messages.account.email-verification-action'}}</p> 
        </div>
    {{else}} 
        {{#user-account-form account=model title='sign-up' isNew = true}}   
            <button
                class="btn btn-success btn-sm"
                disabled={{isSaving}}
                {{action 'submitForm'}}
                disabled={{v-get model 'isInvalid'}}
            >
                {{#if isSaving}}
                    {{dwum-spinner button=true}}
                    {{t 'user.new.toolbar.saving'}}
                {{else}}
                    {{t 'user.new.toolbar.save'}}
                {{/if}}
            </button>
        {{/user-account-form}} 
    {{/if}}
</div>
 