 <div class="container dwcm-collectionobject-view">
    <div class="page-header">
        <h1>
            {{t 'user.list.header'}}
        </h1>
    </div>
    <div class='panel panel-default'>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr> 
                                <th>{{t 'fields.labels.user.name'}}</th> 
                                <th>{{t 'fields.labels.user.username'}}/{{t 'fields.labels.user.email'}}</th> 
                                <th>{{t 'fields.labels.user.purpose'}}</th>
                                <th>{{t 'fields.labels.user.created_date'}}</th>
                                <th>{{t 'fields.labels.user.email_verified'}}</th> 
                                <th></th> 
                            </tr>
                        </thead>
                        <tbody>
                            {{#each model as |user|}} 
                            	 {{#link-to 'users.view' user tagName='tr' class='clickable'}} 
                                    <td>
                                        {{user.fullName}} 
                                    </td> 
                                    <td>
                                        {{user.email}}
                                    </td>  
                                    <td>
                                        {{user.purpose}}
                                    </td>   
                                    <td>
                                        {{user.formattedDate}}
                                    </td>   
                                    <td>
                                        {{user.is_email_verified}}
                                    </td> 
                                    <td> 
                                        {{#if user.new_account}}
                                            {{#if user.is_email_verified}}
                                                <font size="2" color="red">Enable user account</font>
                                            {{/if}}
                                        {{/if}}
                                    </td> 
                                {{/link-to}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>