<div class="panel panel-default users-item"> 
    <div class="panel-heading ">
        <h3 class="panel-title">{{account.full_name}} <small><i>[{{account.formatted_date}}]</i></small></h3>   
    </div>
    <div class="{{account.view_color}}">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-4"> 
                        <span>{{t 'fields.labels.user.username-email'}}:</span>  
                    </div>
                    <div class="col-xs-8">
                        {{account.email}}
                    </div>
                </div>
        	 		
                <div class="row">
    	           <div class="col-xs-4">
    	    	      <span>{{t 'fields.labels.user.purpose'}}:</span>
                    </div>
                    <div class="col-xs-8">
        	           {{account.purpose}}
        	        </div>
    	        </div> 
        
                <div class="row">
    	           <div class="col-xs-4">
    	    	       <span>{{t 'fields.labels.user.account-status'}}:</span>
    	            </div>
    	            <div class="col-xs-8">
    	    	       {{account.status}}
                    </div>
        	   </div> 

        	   {{#if account.is_pending_user }} 
        	        <div class="row">
    		            <div class="col-xs-4">
    		    	 	    <span>{{t 'fields.labels.user.email-verified'}}:</span>
    		            </div>
    		            <div class="col-xs-8">
    		              {{account.is_email_verified}}
    		            </div>
    	            </div> 
        	    {{/if}} 
        	</div>  
        </div> 
    </div> 
    <div class="panel-footer text-right">
      {{yield}}
    </div>
</div>
 