<div class="container users-view {{if validationError 'validation-visible' ''}}">

    {{#if responseMessage}}
        <br/>
            <div class="alert alert-success">
                <h4>{{t 'messages.account.create-account'}}</h4>
                <p>{{t 'messages.account.verification-email'}} {{model.email}}. </p>
                <p>{{t 'messages.account.email-verification-action'}}</p> 
            </div>
    {{else}} 
        <div class="page-header">
            <h2> {{t 'user.new.title' name=(t type)}}:  </h2>
        </div>

        {{#user-account-form account=model title='sign_up' isNew=true}}  
            <button
                class="btn btn-success btn-sm"
                disabled={{isSaving}}
                {{action 'submitForm'}}
                disabled={{v-get model 'isInvalid'}}
            >
                {{#if isSaving}}
                    {{dwcm-spinner button=true}}
                    {{t 'user.new.toolbar.saving'}}
                {{else}}
                    {{t 'user.new.toolbar.save'}}
                {{/if}}
            </button> 
        {{/user-account-form}} 
    {{/if}}
</div>

 

<!--

<div class="container users-view {{if validationError 'validation-visible' ''}}">
    <div class="page-header">
        <h2>
            {{t 'account.new.title'}}
        </h2>
    </div>

    <form {{action "submitForm" on="submit"}}>
        <div class="row">
            <div class="col-xs-12"> 
                {{#field-group title='sign_up' collapsable=false as |fg|}}
                    {{#fg.content}}  
                        {{input 
                            value=model.first_name 
                            placeholder="First name" 
                            class="form-control"  
                            autofocus="autofocus" 
                            focus-out=(action (mut showFirstNameError) true) }} 
                            
                        {{#if showFirstNameError}}
                            <div class="error">
                                {{v-get model 'first_name' 'message'}}
                            </div>
                        {{/if}}
                        
                        {{input 
                            value=model.last_name 
                            placeholder="Last name" 
                            class="form-control" 
                            focus-out=(action (mut showLastNameError) true) }} 

                        {{#if showLastNameError}}
                            <div class="error">
                                {{v-get model 'last_name' 'message'}}
                            </div>
                        {{/if}}

                        {{input 
                            value=model.email 
                            placeholder="Username/email" 
                            class="form-control" 
                            focus-out=(action (mut showEmailError) true) }} 

                        {{#if showEmailError}} 
                            <div class="error"> 
                                {{v-get model 'email' 'message'}}
                            </div> 
                        {{/if}} 

                         {{input 
                            value=model.purpose 
                            placeholder="Purpose" 
                            class="form-control" 
                            focus-out=(action (mut showPurposeError) true) }} 

                        {{#if showPurposeError}} 
                            <div class="error"> 
                                {{v-get model 'purpose' 'message'}}
                            </div> 
                        {{/if}} 
  
                        {{input 
                            value=model.descriptions 
                            placeholder="Descriptions" 
                            class="form-control"  }}   

                      
                    {{/fg.content}} 

                {{/field-group}} 
            </div>
        </div> 
    </form>
    
</div>

<footer class="footer">
    <div class="container">
        <div class="btn-toolbar">
            <button
                class="btn btn-success btn-sm"
                disabled={{isSaving}}
                {{action 'submitForm'}}
                disabled={{v-get model 'isInvalid'}}
            >
                {{#if isSaving}}
                    {{dwcm-spinner button=true}}
                    {{t 'user.new.toolbar.saving'}}
                {{else}}
                    {{t 'user.new.toolbar.save'}}
                {{/if}}
            </button>
        </div>
    </div>
</footer>
-->
