<div class="row">  
  {{#each model as |user|}}
    {{#user-account account=user}}
      {{#link-to 'users.view' user class='btn btn-success btn-sm' disabled=user.is_super_admin }}
        {{t 'buttons.labels.view'}}   
      {{/link-to}}
    {{/user-account}}
  {{/each}} 
</div> 
 
<!--

   {{#users-filter filter=(action 'filterByUsername') as |users|}} 
      <hr >

      {{#each users as |user|}}
        {{#user-account account=user}}
          {{#link-to 'users.view' user class='btn btn-success btn-sm' disabled=user.is_super_admin}}
            {{t 'buttons.labels.view'}}   
          {{/link-to}}
        {{/user-account}}
      {{/each}} 
    {{/users-filter}}


    {{#each model as |user|}}  
      <div class="col-md-12">
        {{#user-account account=user}}
          {{#link-to 'users.view' user class='btn btn-success btn-sm' disabled=user.is_super_admin}}
            {{t 'buttons.labels.view'}}  
          {{/link-to}}
            
          <!--
          {{#if user.show_reject_button}}
            <button class="btn btn-danger btn-sm" {{action 'rejectUser' user}}>
              {{t 'buttons.labels.reject-user'}} 
            </button>
          {{/if}}
          -->
        
        {{/user-account}}
      </div> 
    {{/each}}

    -->


 