<div class="container">
  <div class="page-header">
    <h1>
      {{t 'user.list.header'}}
    </h1>
  </div>

  {{#if search}}
    {{input type="text" value=model.first_name class="form-control" placeholder="Search by first name"}}
  {{else}}
    Filte users:
  {{/if}}


  <div class="row">
    {{#each model as |user|}}  
      <div class="col-md-12">
        {{#user-account account=user}}
          {{#link-to 'users.view' user class='btn btn-success btn-sm'}}{{t 'buttons.labels.view'}}{{/link-to}}
            
          {{#if user.show_disable_button}}
            <button class="btn btn-danger btn-sm" {{action 'disableUser' user}}>
              {{t 'buttons.labels.disable-user'}} 
            </button>
          {{/if}}
        {{/user-account}}
      </div> 
    {{/each}}
  </div>
</div>
 