<div class="container users-view  ">

    {{#if isSaving}}
        {{notification-container position="middle" }}
    {{/if}}

    {{#user-account-form account=model title="register-new-account" isNew=true}} 
        <button
            class="btn btn-success btn-sm" 
            {{action 'submitForm'}}
            disabled={{v-get model 'isInvalid'}}
        >
            {{#if isSaving}}  
                {{dwum-spinner button=true}}
                {{t 'user.new.toolbar.saving'}} 
            {{else}}
                {{t 'user.new.toolbar.save'}} 
            {{/if}}
        </button>
    {{/user-account-form}} 
</div>
 