<div class="container dwcm-collectionobject-view">
    <div class="page-header"> 
        {{model.first_name}} {{model.last_name}}
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{#field-group title='user-profile' collapsable=false as |fg|}}
                {{#fg.content}}
                    <ul>
                        <li>
                            <span>{{t 'fields.labels.user.first_name'}}:</span> {{model.first_name}}
                        </li>
                        <li>
                            <span>{{t 'fields.labels.user.last_name'}}:</span> {{model.last_name}}
                        </li>
                        <li>
                            <span>{{t 'fields.labels.user.email'}}:</span> {{model.email}}
                        </li>
                        <li>
                            <span>{{t 'fields.labels.user.username'}}:</span>  {{model.username}}
                        </li> 
                    </ul>
                {{/fg.content}}
            {{/field-group}}
        </div>
    </div>
</div>