<div class="container users-view  ">
    {{#if model.isEditing }} 
        {{#user-account-form account=model title='edit-user'}} 
            <button class="btn btn-sm btn-warning" {{action 'cancelEdit' model}}>{{t 'buttons.labels.cancel'}}</button> 
            <button class="btn btn-sm btn-success" {{action 'updateUser' model}}>Update</button>
        {{/user-account-form}}   
    {{else}}
        {{#if responseMessage}}
            <br/>
            <div class="alert alert-success">
                <h4>{{t 'messages.account.create-account'}}</h4>
                <p>{{t 'messages.account.verification-email'}} {{model.email}}. </p>
                <p>{{t 'messages.account.email-verification-action'}}</p> 
            </div>
        {{/if}}
        {{#user-account account=model}}  
            {{#link-to 'users' class="btn btn-warning btn-sm"  tagName='button'}}{{t 'buttons.labels.cancel'}}{{/link-to}}   

            {{#if model.is_disabled_user}}
                <button class="btn btn-success btn-sm" {{action "userAction" model 'enableUser'}}>
                    {{t 'buttons.labels.enable-user'}}
                </button>
            {{/if}}

            {{#if model.is_enabled_user}}
                <button class="btn btn-danger btn-sm" {{action 'userAction' model 'disableUser'}}>
                    {{t 'buttons.labels.disable-user'}}
                </button> 
            {{/if}}

            {{#if model.is_pending_user}}
                <button class="btn btn-danger btn-sm" {{action 'rejectUser' model }}>
                    {{t 'buttons.labels.reject-user'}}
                </button> 
                {{#if model.is_email_verified}}
                    <button class="btn btn-success btn-sm" {{action "userAction" model 'enableUser'}}>
                        {{t 'buttons.labels.enable-user'}}
                    </button>
                {{else}}
                    <button class="btn btn-success btn-sm" {{action 'sendVerifyEmail' model }}>
                        Send verify email link
                    </button> 
                {{/if}}
            {{/if}}  
            <button class="btn btn-default btn-sm" {{action 'edit' model}}>{{t 'buttons.labels.edit-user'}}</button>
        {{/user-account}}
    {{/if}}
</div>



 



<!--


 <div class="container users-view">
 
    <div class="row">
        <div class="col-xs-12">
            {{#field-group title='user-profile' collapsable=false as |fg|}}
                {{#fg.content}}
                    <ul>
                        <li>
                            <span>{{t 'fields.labels.user.first_name'}}:</span> {{model.first_name}}
                        </li>
                        <li>
                            <span>{{t 'fields.labels.user.last_name'}}:</span> {{model.last_name}}
                        </li>
                        <li>
                            <span>{{t 'fields.labels.user.email'}}:</span> {{model.email}}
                        </li>
                        <li>
                            <span>{{t 'fields.labels.user.purpose'}}:</span>  {{model.purpose}}
                        </li> 
                        <li>
                            <span>{{t 'fields.labels.user.descriptions'}}:</span>  {{model.descriptions}}
                        </li> 
                    </ul>

                    <hr>
 
                    {{#each model.clients as |client|}}
                        client
                    {{/each}}


                    {{#if model.new_account}}
                        {{#if model.is_email_verified}}  
                            <button type="button" class="btn btn-success btn-sm" {{action "enableUser" model}}>Enable</button> 
                        {{/if}}
                    {{/if}}
                {{/fg.content}}
            {{/field-group}}
        </div>
    </div>
</div>
-->